[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/hugo-kiera"]
	path = themes/hugo-kiera
	url = https://github.com/funkydan2/hugo-kiera.git
